/*Contenedor de logotipo y autor centralizados verticalmente posicionados
uno al lado del otro con una ancho de 172.8px y altura de 88px*/
.logoContainer {
    display: flex;
    align-items: center;
    width: 7.5em;
    height: inherit;
}