/*Contenedor de logotipo y autor centralizados verticalmente posicionados
uno al lado del otro con una ancho de 172.8px y altura de 88px*/
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5em;
    height: inherit;
}

/*Tablet*/
@media only screen and (max-width: 768px) {
    /*Aumentando la altura del container y ancho completo*/
    .logo-container {
        height: 4.2em;
        width: 100%;
    }
}