/*Logotipo principal del header con un tamaño de 88px*/
.logo-container__logo {
    width: 3.2em; /*2.2 movil - tablet*/
}

/*Tablets y celulares grandes u horizontales*/
@media only screen and (min-width: 768px) and (max-width: 1080px) {
    /*Cambiando la dirección flex a columna y disminuyendo
    el tamaño del logo*/
    .logo-container__logo {
        flex-direction: column;
        /*25.8px*/
        width: 2.2em;
    }
}

/*Celulares verticales*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
    /*Cambiando la dirección flex a columna y disminuyendo
    el tamaño del logo*/
    .logo-container__logo {
        flex-direction: column;
        width: 2.2em;
    }
}