/*Eliminando subrayado*/
.menu__link {
    text-decoration: none;
}

/*Celular*/
@media only screen and (max-width: 624px) {
    /*
    - Links display heredado en bloque de .menu
    - Ancho heredado de .header-principal
    - Padding de 3.2px
    - Borde superior de 3.2px
    - Transición al hacer click o touch de 0.2 segundos
    - Tamaño de fuente: 14px
    */
    .menu__link {
        border-top: solid 0.2em var(--font-color);
        display: inherit;
        font-size: var(--tamañoLetraCelular-parrafosYLinks-descripcionImagen);
        padding: 0.2em 0 0.2em 0;
        text-align: center;
        transition: 0.2s ease-out;
        width: inherit;
    }

    /*Eliminando traslado hacía abajo de links*/
    .menu__link.link-style:hover {
        transform: none;
    }

    /*Invirtiendo color de fondo con el de tipografía*/
    .menu__link.link-style:active {
        background-color: var(--font-color);
        color: var(--color-fondo-primario);
    }
}