/*Menú principal con un ancho de 650.083px, con espaciado
entre items y alineados al centro*/
.menu {
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: space-evenly;
    max-width: 41.5em;
    width: 100%;
}

/*Tablets y celulares grandes u horizontales*/
@media only screen and (min-width: 768px) and (max-width: 1080px) {
    /*Ancho de 100% heredado de .header-principal*/
    .menu {
        height: var(--altura-header-Tablet);
        width: inherit;
        
    }
}

/*Celulares verticales*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
    /*Desplazando menú en bloque, con altura de 76.3167px, 
    habilitado el modo scroll vertical*/
    .menu {
        display: block;
        height: var(--altura-header-Celular);
        max-width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}