/*Menú principal con un ancho de 650.083px, con espaciado
entre items y alineados al centro*/
.menu {
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: space-evenly;
    width: 41.5em;
}

/*Tablet*/
@media only screen and (max-width: 768px) {
    /*Ancho de 100% heredado de .header-principal*/
    .menu {
        width: inherit;
    }
}

/*Celular*/
@media only screen and (max-width: 624px) {
    /*Desplazando menú en bloque, con altura de 76.3167px, 
    habilitado el modo scroll vertical*/
    .menu {
        display: block;
        height: var(--altura-header-Celular);
        overflow-y: scroll;
        overflow-x: hidden;
    }
}