/*Container con ancho y alto de 30px*/
.seccion-skills__icono {
    width: 2.3125rem;
    height: 2.3125rem;
}

/*Selectores flag para iconos*/
.seccion-skills__icono--html5 {
    background: url("../../img/iconos/skills/html5.svg") center / 100% 100% no-repeat;
}

.seccion-skills__icono--javascript {
    background: url("../../img/iconos/skills/js.svg") center / 100% 100% no-repeat;
}

.seccion-skills__icono--css3 {
    background: url("../../img/iconos/skills/css3.svg") center / 100% 100% no-repeat;
}

.seccion-skills__icono--java {
    background: url("../../img/iconos/skills/java.png") center / 100% 100% no-repeat;
}

.seccion-skills__icono--mysql {
    background: url("../../img/iconos/skills/mysql.png") center / 100% 100% no-repeat;
}

.seccion-skills__icono--git {
    background: url("../../img/iconos/skills/git.png") center / 100% 100% no-repeat;
}