/*Ajustando sección datos-personales acorde a la altura del menú de escritorio,
alineando texto e imagen verticalmente centrados uno al lado del otro con un
espaciado entre ellos*/
.datos-personales {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: space-between;
    margin-top: 0;
    width: inherit;
}

/*Tablets y celulares grandes u horizontales*/
@media only screen and (min-width: 768px) and (max-width: 1080px) {
    /*Ancho de 100% heredado de .header-principal*/
    .datos-personales {
        height: 100vh;
        margin-top: 0;
    }
}

/*Celulares verticales*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
    /*Ajustando sección datos-personales acorde a la altura del menú de celular
    alineando contenido al centro horizontalmente y estableciendo items en columna*/
    .datos-personales {
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        margin-top: 0;
    }
}