/*Estableciendo color de letra acorde al color de fondo claro y tamaño*/
.datos-personales__titulo {
    color: var(--color-fondo-primario);
    font-size: var(--tamañoLetraEscritorio-titulos);
    margin-bottom: 0;
}

/*Tablet*/
@media only screen and (max-width: 768px) {
    /*Estableciendo tamaño de letra 22px*/
    .datos-personales__titulo {
        font-size: var(--tamañoLetraTablet-titulosYSubtitulos);
    }
}