/*Limpiando configuraciones de lista por defecto y alineando en 
filas, el ancho es heredado de .datos-personales__presentacion*/
.datos-personales__contactos {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    width: 25.1em; /*401.6px*/
}

/*Celulares verticales*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
    /*Ajustando sección de contactos a 100%*/
    .datos-personales__contactos {
        width: 100%;
    }
}