/*Ajustando texto al centro horizontalmente y definiendo altura
del contenedor acorde a la del header de escritorio*/
.datos-personales__presentacion {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--altura-header-EscritoriotTablet));
    justify-content: center;
    background-color: aqua;
    width: 66.2%; /*752.017px*/
}