/*Despegando icono de texto y asignando ancho y alto de 13px*/
.datos-personales__icono {
    height: 0.812em;
    margin: 0 0 0 0.5em;
    width: 0.812em;
}

/*Configurando selector flag para iconos de flecha*/
.datos-personales__icono--flecha {
    background: url("../../img/iconos/flecha.png") no-repeat center / cover;
}
