/*Despegando icono de texto y asignando ancho y alto de 13px*/
.datos-personales__icono {
    height: 2.5em;
    width: 2.5em;
}

/*Configurando selector flag para iconos de contacto*/
.datos-personales__icono--github {
    background: url("../../img/iconos/contacto/github.png") no-repeat center / cover;
}

.datos-personales__icono--linkedin {
    background: url("../../img/iconos/contacto/linkedin.png") no-repeat center / cover;
}

.datos-personales__icono--instagram {
    background: url("../../img/iconos/contacto/instagram.png") no-repeat center / cover;
}

.datos-personales__icono--correo {
    background: url("../../img/iconos/contacto/correos-electronicos.png") no-repeat center / cover;
}

.datos-personales__icono--curriculum {
    background: url("../../img/iconos/contacto/curriculum.png") no-repeat center / cover;
}