/*Agregando color y eliminando subrayado*/
.datos-personales__link {
    align-items: center;
    color: var(--font-color);
    display: flex;
    text-decoration: none;
}

/*Celulares verticales*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
    /*Estableciendo tamaño de letra 14px*/
    .datos-personales__link {
        font-size: var(--tamañoLetraCelular-parrafosYLinks-descripcionImagen);
    }
}