/*Estableciendo color de letra acorde al color de fondo claro y tama単o,
subiendo parrafo un poco*/
.datos-personales__parrafo {
    color: var(--color-fondo-primario);
    font-size: var(--tama単oLetraEscritorio-subtitulosDscImagen);
    margin: 0.5em 0 0 0;
}

/*Tablet*/
@media only screen and (max-width: 768px) {
    /*Estableciendo tama単o de letra 16px*/
    .datos-personales__parrafo {
        font-size: var(--tama単oLetraTablet-parrafosYLinks-dscBienvenida-subtitulosDscImagen);
    }
}