/*Estableciendo color de letra y tamaño*/
.datos-personales__titulo {
    color: #2c2828;
    font-size: var(--tamañoLetraEscritorio-titulos);
    font-weight: 700;
    margin-bottom: 0;
}

/*Tablets y celulares grandes u horizontales*/
@media only screen and (min-width: 768px) and (max-width: 1080px) {
    /*Estableciendo tamaño de letra 22px*/
    .datos-personales__titulo {
        font-size: var(--tamañoLetraTablet-titulosYSubtitulos);
    }
}

/*Celulares verticales*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
    /*Estableciendo tamaño de letra 22px*/
    .datos-personales__titulo {
        font-size: var(--tamañoLetraCelular-tituloBienvenida-subtitulosSeccion);
    }
}