/*Estableciendo tamaño de foto y radio circular*/
.datos-personales__foto {
    border-radius: 100%;
    height: var(--ancho-alto-foto-Escritorio);
    width: var(--ancho-alto-foto-Escritorio);
}

/*Tablet*/
@media only screen and (max-width: 768px) {
    /*Estableciendo tamaño de foto para tablet*/
    .datos-personales__foto {
        height: var(--ancho-alto-foto-Tablet);
        width: var(--ancho-alto-foto-Tablet);
    }
}

/*Celular*/
@media only screen and (max-width: 624px) {
    /*Estableciendo tamaño de foto para Celulares*/
    .datos-personales__foto {
        height: var(--ancho-alto-foto-Celular);
        width: var(--ancho-alto-foto-Celular);
    }
}