/*Estableciendo color de letra, tamaño,
subiendo parrafo un poco*/
.datos-personales__parrafo {
    color: #2c2828;/*#2c2828*/
    font-size: var(--tamañoLetraEscritorio-subtitulosDscImagen);
    font-weight: 500;
    margin: 0.5em 0 0 0;
}

/*Tablets y celulares grandes u horizontales*/
@media only screen and (min-width: 768px) and (max-width: 1080px) {
    /*Estableciendo tamaño de letra 16px*/
    .datos-personales__parrafo {
        font-size: var(--tamañoLetraTablet-parrafosYLinks-dscBienvenida-subtitulosDscImagen);
        font-weight: 500;
    }
}

/*Celulares verticales*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
    /*Estableciendo tamaño de letra 14px*/
    .datos-personales__parrafo {
        font-size: var(--tamañoLetraCelular-parrafosYLinks-descripcionImagen);
        font-weight: 500;
    }
}