/*Ajustando texto al centro horizontalmente y definiendo altura
del contenedor acorde a la del header de escritorio*/
.datos-personales__presentacion {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--altura-header-EscritoriotTablet));
    justify-content: center;
    width: 66.2%; /*752.017px*/
}

/*Celular*/
@media only screen and (max-width: 624px) {
    /*Ajustando texto con una altura automática y un 
    ancho completo*/
    .datos-personales__presentacion {
        height: auto;
        order: 1;
        width: 100%;
    }
}