/*Estableciendo color de letra acorde al color de fondo claro y tama単o*/
.datos-personales__titulo {
    color: var(--color-fondo-primario);
    font-size: var(--tama単oLetraEscritorio-titulos);
    margin-bottom: 0;
}

/*Tablet*/
@media only screen and (max-width: 768px) {
    /*Estableciendo tama単o de letra 22px*/
    .datos-personales__titulo {
        font-size: var(--tama単oLetraTablet-titulosYSubtitulos);
    }
}