/*Estableciendo tamaño de foto y radio circular*/
.datos-personales__foto {
    border-radius: 100%;
    height: var(--ancho-alto-foto-Escritorio);
    margin-top: var(--altura-header-Escritorio);
    width: var(--ancho-alto-foto-Escritorio);
}

/*Tablets y celulares grandes u horizontales*/
@media only screen and (min-width: 768px) and (max-width: 1080px) {
    /*Estableciendo tamaño de foto para tablet*/
    .datos-personales__foto {
        height: var(--ancho-alto-foto-Tablet);
        width: var(--ancho-alto-foto-Tablet);
    }
}

/*Celulares verticales*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
    /*Estableciendo tamaño de foto para Celulares*/
    .datos-personales__foto {
        height: var(--ancho-alto-foto-Celular);
        margin-top: 0;
        order: 0;
        width: var(--ancho-alto-foto-Celular);
    }
}