/*Limpiando configuraciones de lista por defecto y alineando en 
filas, el ancho es heredado de .datos-personales__presentacion*/
.datos-personales__contactos {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    width: 25.1em; /*401.6px*/
}

/*Celular*/
@media only screen and (max-width: 624px) {
    /*Ajustando sección datos-personales acorde a la altura del menú de celular*/
    .datos-personales__contactos {
        width: 100%;
    }
}