/*Estableciendo color de letra acorde al color de fondo claro y tamaño,
subiendo parrafo un poco*/
.datos-personales__parrafo {
    color: var(--color-fondo-primario);
    font-size: var(--tamañoLetraEscritorio-subtitulosDscImagen);
    margin: 0.5em 0 0 0;
}

/*Tablet*/
@media only screen and (max-width: 768px) {
    /*Estableciendo tamaño de letra 16px*/
    .datos-personales__parrafo {
        font-size: var(--tamañoLetraTablet-parrafosYLinks-dscBienvenida-subtitulosDscImagen);
    }
}

/*Celular*/
@media only screen and (max-width: 624px) {
    /*Estableciendo tamaño de letra 14px*/
    .datos-personales__parrafo {
        font-size: var(--tamañoLetraCelular-parrafosYLinks-descripcionImagen);
    }
}