/*Estableciendo color de letra acorde al color de fondo claro y tamaño,
subiendo parrafo un poco*/
.datos-personales__parrafo {
    color: var(--color-fondo-primario);
    font-size: var(--tamañoLetraEscritorio-subtitulosDscImagen);
    margin: 0.5em 0 0 0;
}

/*Tablets y celulares grandes u horizontales*/
@media only screen and (min-width: 481px) and (max-width: 1080px) {
    /*Estableciendo tamaño de letra 16px*/
    .datos-personales__parrafo {
        font-size: var(--tamañoLetraTablet-parrafosYLinks-dscBienvenida-subtitulosDscImagen);
    }
}

/*Celulares verticales*/
@media only screen and (min-width: 0px) and (max-width: 480px) {
    /*Estableciendo tamaño de letra 14px*/
    .datos-personales__parrafo {
        font-size: var(--tamañoLetraCelular-parrafosYLinks-descripcionImagen);
    }
}