/*Limpiando margen y estableciendo tamaño de letra*/
.formacion-academica__nombre {
    font-size: var(--tamañoLetraEscritorio-parrafosYLinks-dscImagen-botones);
    font-weight: 500;
    margin: 0;
}

/*Tablets y celulares grandes u horizontales*/
@media only screen and (min-width: 768px) and (max-width: 1135px) {
    .formacion-academica__nombre {
        font-size: var(--tamañoLetraTablet-parrafoSobreMi-dscImagenes-botones);
    }
}

/*Celulares verticales*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
    .formacion-academica__nombre {
        font-size: var(--tamañoLetraCelular-parrafosYLinks-descripcionImagen);
    }
}