/*Estableciendo tamaño del video*/
.experiencias-area__video {
    height: 25.375rem;
    width: 66.198%;
}

/*Estableciendo selectores flag de estado para orden
de aparición visual de item.

Nota: Seguir orden de imagen primero y descripción segundo y invertir orden en 
el html al siguiente proyecto sucesivamente

Colocar en el html cuando video tenga la clase flag
experiencias-area__descripciones--orderSegundo*/
.experiencias-area__video--orderPrimero {
    order: 0;
}

/*Colocar en el html cuando imagen tenga la clase flag
experiencias-area__descripciones--orderPrimero*/
.experiencias-area__video--orderSegundo {
    order: 1;
}

/*Tablets y celulares grandes u horizontales*/
@media only screen and (min-width: 768px) and (max-width: 1080px) {
    /*Ancho: 100% Alto: 400px*/
    .experiencias-area__video {
        height: 25em;
        width: 100%;
    }

    /*Eliminando orden de items*/
    .experiencias-area__video--orderPrimero {
        order: 0;
    }
    
    .experiencias-area__video--orderSegundo {
        order: 0;
    }
}

/*Celulares verticales*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
    /*Ancho: 100% Alto: 192px*/
    .experiencias-area__video {
        height: 12em;
        width: 100%;
    }

    /*Eliminando orden de items*/
    .experiencias-area__video--orderPrimero {
        order: 0;
    }
    
    .experiencias-area__imagen--orderSegundo {
        order: 0;
    }

    /*Anidando media query para dispositivos entre 428px y 767px,
    para ajustar ancho y alto de video*/
    @media only screen and (min-width: 428px) and (max-width: 767px) {
        .experiencias-area__video {
            width: 100%;
            height: 20em;
        }
    }
}