/*Estableciendo contenedor flex en el área de descripciones
en columna, con items centrados verticalmente y un
ancho de 361.267px*/
.experiencias-area__descripciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 31.802%;

}

/*Estableciendo selectores flag de estado para orden
de aparición visual de item.

Nota: Seguir orden de imagen primero y descripción segundo y invertir orden en 
el html al siguiente proyecto sucesivamente

Colocar en el html cuando imagen tenga la clase flag
experiencias-area__descripciones--orderPrimero*/
.experiencias-area__descripciones--orderSegundo {
    order: 1;
}

/*Colocar en el html cuando imagen tenga la clase flag
descripciones-area__imagen--orderSegundo*/
.experiencias-area__descripciones--orderPrimero {
    order: 0;
}