/*Configurando margen inferior de 16px
Alto: 406px Ancho: 752px*/
.experiencias-area__imagen {
    height: 25.375em;
    margin: 0 0 1em 0;
    width: 47em;
}

/*Estableciendo selectores flag de estado para orden
de aparición visual de item.

Nota: Seguir orden de imagen primero y descripción segundo y invertir orden en 
el html al siguiente proyecto sucesivamente

Colocar en el html cuando imagen tenga la clase flag
experiencias-area__descripciones--orderSegundo*/
.experiencias-area__imagen--orderPrimero {
    order: 0;
}

/*Colocar en el html cuando imagen tenga la clase flag
experiencias-area__descripciones--orderPrimero*/
.experiencias-area__imagen--orderSegundo {
    order: 1;
}

/*Tablets y celulares grandes u horizontales*/
@media only screen and (min-width: 768px) and (max-width: 1080px) {
    /*Ancho: 704px Alto: 384px*/
    .experiencias-area__imagen {
        height: 24em;
        width: 44em;
    }
}

/*Celulares verticales*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
    /*Ancho: 296px Alto: 144px*/
    .experiencias-area__imagen {
        height: 9em;
        width: 18.5em;
    }
}