/*Configurando container flex con margin inferior
de 64px*/
.experiencias-area__experiencia {
    display: flex;
    justify-content: space-between;
    margin: 0 0 4em 0;
}

/*Eliminando margen inferior del último elemento de la 
sección*/
.experiencias-area__experiencia:last-of-type {
    margin: 0;
}

/*Tablets y celulares grandes u horizontales*/
@media only screen and (min-width: 768px) and (max-width: 1080px) {
    /*Ancho: 704px Alto: 384px*/
    .experiencias-area__experiencia {
        flex-direction: column;
    }
}

/*Celulares verticales*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
    /*Ancho: 296px Alto: 144px*/
    .experiencias-area__experiencia {
        flex-direction: column;
    }
}