/*Estableciendo contenedor flex en el área de descripciones
en columna, con items centrados verticalmente y un
ancho de 361.267px*/
.experiencias-area__descripciones {
    display: flex;
    background: url('../../img/fondo/fondo_descripciones.png') center/ cover;
    flex-direction: column;
    justify-content: center;
    width: 31.802%;

}

/*Estableciendo selectores flag de estado para orden
de aparición visual de item.

Nota: Seguir orden de imagen primero y descripción segundo y invertir orden en 
el html al siguiente proyecto sucesivamente

Colocar en el html cuando imagen tenga la clase flag
experiencias-area__descripciones--orderPrimero*/
.experiencias-area__descripciones--orderSegundo {
    order: 1;
}

/*Colocar en el html cuando imagen tenga la clase flag
descripciones-area__imagen--orderSegundo*/
.experiencias-area__descripciones--orderPrimero {
    order: 0;
}

/*Tablets y celulares grandes u horizontales*/
@media only screen and (min-width: 768px) and (max-width: 1080px) {
    /*Ancho: 704px Alto: 384px*/
    .experiencias-area__descripciones {
        background-position: center;
        margin: 0.5em 0 0 0;
        padding: 0 0 0.5em 0;
        width: 100%;
    }

    /*Eliminando orden de items*/
    .experiencias-area__descripciones--orderSegundo {
        order: 0;
    }
    
    .experiencias-area__descripciones--orderPrimero {
        order: 0;
    }
}

/*Celulares verticales*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
    /*Ancho: 296px Alto: 144px*/
    .experiencias-area__descripciones {
        background-position: center;
        margin: 0.5em 0 0 0;
        padding: 0 0 0.5em 0;
        width: 100%;
    }

    /*Eliminando orden de items*/
    .experiencias-area__descripciones--orderSegundo {
        order: 0;
    }
    
    .experiencias-area__descripciones--orderPrimero {
        order: 0;
    }
}