/*Configurando tama単os de fuente*/
.experiencias-area__organizacion {
    font-size: var(--tama単oLetraEscritorio-parrafosYLinks-dscImagen-botones);
}

/*Tablets y celulares grandes u horizontales*/
@media only screen and (min-width: 768px) and (max-width: 1080px) {
    .experiencias-area__organizacion {
        font-size: var(--tama単oLetraTablet-parrafoSobreMi-dscImagenes-botones);
    }
}

/*Celulares verticales*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
    .experiencias-area__organizacion {
        font-size: var(--tama単oLetraCelular-parrafosYLinks-descripcionImagen);
    }
}