/*Configurando margen inferior de 16px
Alto: 406px Ancho: 752px*/
.experiencias-area__imagen {
    height: 25.375em;
    image-rendering: -webkit-optimize-contrast;
    width: 66.198%;
}

/*Estableciendo selectores flag de estado para orden
de aparición visual de item.

Nota: Seguir orden de imagen primero y descripción segundo y invertir orden en 
el html al siguiente proyecto sucesivamente

Colocar en el html cuando imagen tenga la clase flag
experiencias-area__descripciones--orderSegundo*/
.experiencias-area__imagen--orderPrimero {
    order: 0;
}

/*Colocar en el html cuando imagen tenga la clase flag
experiencias-area__descripciones--orderPrimero*/
.experiencias-area__imagen--orderSegundo {
    order: 1;
}

/*Tablets y celulares grandes u horizontales*/
@media only screen and (min-width: 768px) and (max-width: 1080px) {
    /*Ancho: 100% Alto: 400px*/
    .experiencias-area__imagen {
        height: 25em;
        width: 100%;
    }

    /*Eliminando orden de items*/
    .experiencias-area__imagen--orderPrimero {
        order: 0;
    }
    
    .experiencias-area__imagen--orderSegundo {
        order: 0;
    }
}

/*Celulares verticales*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
    /*Ancho: 100% Alto: 192px*/
    .experiencias-area__imagen {
        height: 12em;
        width: 100%;
    }

    /*Eliminando orden de items*/
    .experiencias-area__imagen--orderPrimero {
        order: 0;
    }
    
    .experiencias-area__imagen--orderSegundo {
        order: 0;
    }

    /*Anidando media query para dispositivos entre 428px y 767px,
    para ajustar ancho y alto de imagen*/
    @media only screen and (min-width: 428px) and (max-width: 767px) {
        .experiencias-area__imagen {
            width: 100%;
            height: 20em;
        }
    }
}