/*Configurando ancho y alto de container para imagen*/
.formulario-container__imagen {
    height: 593px;
    width: 41%; /*464px*/
}

/*Selector de clase flag para imagen de fondo*/
.formulario-container__imagen--contacto {
    background: url('../../img/contacto.png') no-repeat center / cover;
}

/*Tablets y celulares grandes u horizontales*/
@media only screen and (min-width: 768px) and (max-width: 1080px) {
    /*Eliminando visualización de imagen de contacto*/
    .formulario-container__imagen {
        display: none;
    }
}

/*Celulares verticales*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
    /*Eliminando visualización de imagen de contacto*/
    .formulario-container__imagen {
        display: none;
    }
}