/*Configurando ancho y alto de container para imagen*/
.formulario-container__imagen {
    height: 593px;
    width: 464px; /*464px*/
}

/*Selector de clase flag para imagen de fondo*/
.formulario-container__imagen--contacto {
    background: url('../../img/contacto.png') no-repeat center / cover;
}