/*Configurando estilos de input containers*/
.formulario-container__inputs {
    background: #ffffff;
    border: 0 0 1px 0;
    border-bottom: solid 1px #C8C8C8;
    border-radius: 4px;
    display: block;
    margin: 0 0 40px 0;
    padding: 0.5em 12px;
    position: static;
}
/*Selector flag de input container para email con fuente
azul y linea solida inferior azul*/
.formulario-container__inputs--blue {
    color: var(--color-botones-primario);
    border-bottom: solid 1px var(--color-botones-primario);
}