/*Estableciendo ancho y alto en container de subtitulo y formulario*/
.formulario-container__contacto {
    height: inherit;
    width: 57%;
}

/*Selector de clase flag para configurar margen de subtitulo
y alineación izquierda*/
.subtitulos--formulario {
    margin: 0 0 0.25em 0;
    text-align: left;
}

/*Tablets y celulares grandes u horizontales*/
@media only screen and (min-width: 768px) and (max-width: 1080px) {
    .formulario-container__contacto {
        width: 100%;
    }
}

/*Celulares verticales*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
    .formulario-container__contacto {
        width: 100%;
    }
}