/*Se ocultará inicialmente el mensaje*/
.formulario-container__span--error {
    display: none;
}

/*Selector de cambio para mensajes de error de los elementos span usados en validaciones.js,
desplegados en flexbox, con color de fondo validado en el  estándar de accesibilidad WCAG 2.0 acorde 
a la tipografía en color blanco*/
.formulario-container__inputs--incorrecto .formulario-container__span--error {
    align-items: center;
    background: #b40000;/*Color generado en https://contrastchecker.com/?utm_source=pocket_mylist*/
    border-radius: 4px;
    color: white;
    display: flex;
    font-size: 0.8em;
    font-weight: 400;
    justify-content: flex-start;
    margin: 0.5em 0 0 0;
    padding: 0.5em;
    width: auto;
}

/*Uso de @keyframes
Sintáxis:
.animation-block {
    animation-name: animation;
    animation-duration: 3s;
    animation-fill-mode: forwards; <-- Establece una animación
    en su mismo estado al llegar al 100%, en hover
}
@keyframes animation {
    0% {
        background: blue;
    }
    50% {
        background: red;
    }
    100% {
        background: green;
    }
}

@keyframes efecto-cortina {
    0% {
        height: 0.8px;
        padding: 0;
    }
    20% {
        height: 5.8px;
        padding: 0.1em;
    }
    40% {
        height: 10.8px;
        padding: 0.2em;
    }
    60% {
        height: 15.8px;
        padding: 0.3em;
    }
    80% {
        height: 20.8px;
        padding: 0.4em;
    }

    90% {
        height: 25.8px;
    }

    100% {
        height: auto;
        padding: 0.5em;
    }
}

*/