/*
Header posicionado fijamente en la parte superior, con altura de 88px
y un ancho de 100%
*/
.header-principal {
    background-color: var(--color-fondo-primario);
    height: 5.5em;
    position: fixed;
    top: 0;
    width: 100%;
}

/*Celular*/
@media only screen and (max-width: 624px) {
    /*El header aumentará de tamaño*/
    .header-principal {
        height: 8.5em;
    }

}