/*
Header posicionado fijamente en la parte superior, con altura de 88px
y un ancho de 100%
*/
.header-principal {
    background-color: var(--color-fondo-primario);
    height: var(--altura-header-EscritoriotTablet);
    position: fixed;
    top: 0;
    width: 100%;
}

/*Celulares verticales*/
@media only screen and (min-width: 0px) and (max-width: 480px) {
    /*El header aumentará de altura */
    .header-principal {
        height: var(--altura-header-Celular); /*145.6px*/
    }
}