/*Fondo de sección presentación de tamaño completo acorde a la altura del header
de escritorio*/
.seccion-presentacion {
    background: url('../img/fondo/fondo-banner.png') no-repeat center / cover fixed;
    height: var(--altura-seccionPresentacion);
    width: 100%;
}

/*Celular*/
@media only screen and (max-width: 624px) {
    /*Fondo de sección presentación de tamaño completo acorde a la altura del header
    movil*/
    .seccion-presentacion {
        height: var(--altura-seccionPresentacion-Celular);
    }
}