/*Definiendo propiedad general*/
*,
::before,
::after {
    box-sizing: border-box;
}

/*Dwefiniendo variables genéricas*/
:root {
    --font-family: 'Raleway', sans-serif;
    --font-color: #464646;
    --font-color-two: #ffffff;
    --color-fondo-primario: #F5F5F5;
    --altura-header-EscritoriotTablet: 5.5em;/*88px*/
    --altura-header-Celular: 9.1em; /*145.6px*/

    /*<------------------Tamaños de letra------------------*/
    /*Los siguientes tamaños se usan dependiendo el tamaño del dispositivo en los
    selectores*/
    /*Escritorio*/
    --tamañoLetraEscritorio-titulos: 3.25em;/*52px*/
    --tamañoLetraEscritorio-subtitulosSeccion: 2em;/*32px*/
    --tamañoLetraEscritorio-subtitulosDscImagen: 1.375em;/*22px*/
    --tamañoLetraEscritorio-parrafosYLinks-dscImagen-botones: 1em;/*16px*/
    /*Tablet*/
    --tamañoLetraTablet-titulosYSubtitulos: 1.375em;/*22px*/
    --tamañoLetraTablet-parrafosYLinks-dscBienvenida-subtitulosDscImagen: 1em;/*16px*/
    --tamañoLetraTablet-parrafoSobreMi-dscImagenes-botones: 0.875em;/*14px*/
    /*Móvil*/
    --tamañoLetraCelular-tituloBienvenida-subtitulosSeccion: 1.375em;/*22px*/
    --tamañoLetraCelular-subtituloDescripcionImagen: 1em;/*16px*/
    --tamañoLetraCelular-parrafosYLinks-descripcionImagen: 0.875em; /*14px*/
    /*<----------------Fin Tamaños de letra-----------------*/

    /*<------------------Tamaño container-------------------*/
    /*1136px Para evitar desbordamiento*/
    --tamaño-containerMaxWidth: 71em; 
    /*<----------------Fin Tamaño container-----------------*/
    --padding-tablet: 0 2em;
    --padding-celular: 0 1em;
    --centrar-con-margin: 0 auto;
}

/*Definiendo propiedad smooth-scroll*/
html {
    scroll-behavior: smooth;
    font-family: var(--font-family);
    color: var(--font-color);
}


/*<------------------------------------------Selectores Genéricos------------------------------------------>*/

.font-style {
    font-family: var(--font-family);
    color: var(--font-color);
}

.link-style {
    color: var(--font-color);
    text-decoration: none;
    /*Estableciendo tiempo de desplazamiento al pasar el mouse*/
    transition: all 0.5s ease-out;
}

.link-style:hover {
    transform: translate(0, 0.3em);
}

.titulo-primario {
    font-size: var(--tamañoLetraEscritorio-titulos);
}

.subtitulos {
    font-size: var(--tamañoLetraEscritorio-subtitulosSeccion);
}

/*----[Tamaños de Letra con variables genéricas para párrafos, botones, títulos, subtitulos, descripciones y links]----*/
/*-Cambiarán en el media query responive-*/
.tamañoLetraLinks{
    font-size: var(--tamañoLetraEscritorio-parrafosYLinks-dscImagen-botones);
}

.tamañoLetraParrafoPresentacion {
    font-size: var(--tamañoLetraEscritorio-parrafosYLinks-dscImagen-botones);
}

.tamañoLetraParrafoSeccionSobreMi {
    font-size: var(--tamañoLetraEscritorio-parrafosYLinks-dscImagen-botones);
}

.tamañoLetraSubtituloDescripcionImagen {
    font-size: var(--tamañoLetraEscritorio-subtitulosDscImagen);
}

.tamañoLetraDescripcionImagen {
    font-size: var(--tamañoLetraEscritorio-parrafosYLinks-dscImagen-botones);
}

.tamañoLetraBotones {
    font-size: var(--tamañoLetraEscritorio-parrafosYLinks-dscImagen-botones);
}
/*<----------------------------------------Fin Selectores Genéricos---------------------------------------->*/

/*<--------------------------------------------Sección Presentación-------------------------------------------->*/

/*
/*Tablets/
@media only screen and (max-width: 768px) {}

/*Celular/
@media only screen and (max-width: 624px) {}
*/

/*<------------------------------------------Fin Sección Presentación------------------------------------------>*/