/*Configurando container flex y alineando items verticalmente
con un espacio entre ellos, padding de 32px*/
.seccion-footer__copyright {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
}

/*Celulares verticales*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
    /*Cambiando dirección flex a columna*/
    .seccion-footer__copyright {
        flex-direction: column;
        justify-content: center;
    }
}