/*Configurando container flex y alineando items verticalmente
con un espacio entre ellos, padding de 32px*/
.seccion-footer__copyright {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
}