/*Alto entre links de 16px*/
.seccion-footer__link {
    color: black;
    line-height: 1.5em;
    text-decoration: underline;
    transition: 0.5s;
}

/*Eliminando propiedad transform heredada del 
selector de clase .link-style al pasar el puntero*/
.seccion-footer__link.link-style:hover {
    transform: none;
}

/*Color azul al pasar el mouse*/
.seccion-footer__link:hover {
    color: var(--color-botones-primario);
}