/*Agregando peso a letra*/
.seccion-footer__autor {
    color: #2c2828;
    font-weight: 500;
}

/*Celulares verticales*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
    /*Centrando texto*/
    .seccion-footer__autor {
        text-align: center;
    }
}