/*Alineando icono y texto al final y con un padding superior
de 96px y izquierdo de 16px elemento con altura de 174px.
Aplicando border shadow*/
.lista-grid__item {
    align-items: flex-end;
    background-color: #FFFFFF;
    box-shadow: 9px 9px 9px 2px rgba(0, 0, 0, 0.4);
    display: grid;
    height: 10.875em;
    padding: 6em 0 0 1em;
}