/*Estableciendo padding superior e inferior equivalente 
a la altura del header de escritorio y tablet, con un ancho máximo de 751px
y de 100% al reducirse*/
.biografia {
    max-width: 46.937em;
    padding:var(--altura-header-EscritoriotTablet) 0;
    width: 100%;
}

/*Celulares verticales*/
@media only screen and (min-width: 0px) and (max-width: 480px) {
    .biografia {
        /*Asignando margen superior e inferior
        acorde al tamaño del header del celular y estableciendo un ancho completo*/
        padding: var(--altura-header-Celular) 0;
    }
}