/*Eliminando margen inferior*/
.biografia__parrafo {
    line-height: 19px;
    font-weight: 400;
    margin-bottom: 0;
}

/*Tablets y celulares grandes u horizontales*/
@media only screen and (min-width: 768px) and (max-width: 1080px) {
    /*Estableciendo tamaño de letra para parrafo de 14px*/
    .biografia__parrafo {
        font-size: var(--tamañoLetraTablet-parrafoSobreMi-dscImagenes-botones);
    }
}

/*Celulares verticales*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
    /*Estableciendo tamaño de letra para parrafo de 14px*/
    .biografia__parrafo {
        font-size: var(--tamañoLetraCelular-parrafosYLinks-descripcionImagen);
    }
}