/*Eliminando margen inferior*/
.biografia__parrafo {
    margin-bottom: 0;
}

/*Tablets y celulares grandes u horizontales*/
@media only screen and (min-width: 481px) and (max-width: 1080px) {
    /*Estableciendo tama単o de letra para parrafo de 14px*/
    .biografia__parrafo {
        font-size: var(--tama単oLetraTablet-parrafoSobreMi-dscImagenes-botones);
    }
}

/*Celulares verticales*/
@media only screen and (min-width: 0px) and (max-width: 480px) {
    /*Estableciendo tama単o de letra para parrafo de 14px*/
    .biografia__parrafo {
        font-size: var(--tama単oLetraCelular-parrafosYLinks-descripcionImagen);
    }
}